 <style>
    body{
      /*background-color:#203e71;*/
      /*background: radial-gradient(#88afef, #203e71 );*/
      background-color: #212529;
      /*background-image: url(<=asset_path 'back_image.jpeg'>);*/
       
       /*여기 우선 color만 먹여두고 push 한 번 하겠습니다~ 성재*/
      background-size: cover;
    }
    
    /*font*/
    @font-face { 
      font-family: 'godoMaum'; 
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff') 
      format('woff'); 
      font-weight: normal; 
      font-style: normal; 
      
    }
    
    @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
    
    @font-face { 
      font-family: 'BMDOHYEON'; 
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') 
      format('woff'); font-weight: normal; font-style: normal; 
    }

    .content_title{
      border-radius: 15px;
      border : 10px;
      text-align: center;
      color: white;
    }
    .content_title p{
      color: #dddddd;
    }
    
    #btnc{
      color:white;
    }
    
    .custom-btn:hover {
      color: #212529 !important;
    }
    
  /*카드 안에 텍스트 정렬 */
    .card_container{
        display: block;
        text-align: center;
        column-count: 3;
        column-gap: 1.25rem;
    }
    
    /* 카드 제목 호버할때 제목 흰색으로 바뀌는데?? 어째 고침*/
    .card:hover {
      color: black;
    }
    
    
    .card-header.bg-transparent.border-success:hover{
      color:black;
    }
    .card_column{
      position: relative;
      display:block;
    }
    
    .card{
        display: inline-block;
        margin-bottom: 6%;     /* 카드 사이 상하 간격 조절 */
        text-align: left;
        width: 100%;
        font-size: 1.3em;
        line-height: 20px;
     }
     #contentModal .modal-header{
       height: 30%;
       color: red;
       vertical-align: middle;
     }
     
    #top_title {
      font-family : 'BMDOHYEON';
      font-size: 4em;
    }
    
    /*.modal{*/
    /*  width:100%;*/
    /*  padding-left: 10%;*/
    /*  padding-right: 10%;      */
      /*display: inline-block;*/
    /*}*/
    /*.modal-content {*/
      
    /*  border-radius: 0;*/
    /*  margin-bottom:20px;*/
    /*}*/
     
    /*.modal-dialog {*/
    /*  width: 100%;*/
    /*  height: 100%;*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*}*/
    
    .full-screen {
    width: 100%;
    height: 90%;
    margin-left: 20% ;
    top: 0;
    left: 0;
}


    /*pc화면*/
    @media screen and (min-width:240px) and (max-width:900px)
    {
      .card_container{
        display: block;
        text-align: center;
        column-count: 1;
        column-gap: 1.25rem;
        
      }
    }
    /*모바일화면*/
    @media screen and (min-device-width:240px) and (max-device-width:900px)
    {
      .card_container{
        display: block;
        text-align: center;
        column-count: 1;
        column-gap: 1.25rem;
        
      }
    }
    
    .card_model{
        /*width : 100px;*/
        
        /*말줄임표*/
        /*text-overflow:ellipsis;*/
        /*white-space:nowrap;*/
        /*word-wrap:normal;*/
        /*width:100px;*/
        /*overflow:hidden;*/
    }
    div .board_navybar{
      float: right;
    }
    .search{
      display: block;
      vertical-align: middle;
      border: 1px solid black;
    }
    .search_image{
      position:absolute;
      width:17%;
      height:50%;
    }
    
    .navi {
      background-color:#dddddd;
      z-index: 999;
      width: 100%
     
    }

    .fai{
      background-color: white;
      height: 35px;
    }

    .mybutton {
      height: 25px;
      font-family: 'Spoqa Han Sans';
      border-radius: 5px;
      background-color: #203e71;
      /*border-color: #f02441;*/
      border: 4px;
      font-size: 14px;
      color: white;
     }
     
     .name_container {
       color: #dddddd;
       
     }
     
     .mybutton:hover {
       /*color: ;*/
       border-color: black;

     }
     
     .content_modal{
       font-size: 20px;
     }
     
     .modal-font{
       font-size:50px;
     }
     
     .modal-title{
       text-align:center;
     }

     
     /*test*/
     
    #portfolio .portfolio-item {
      right: 0;
      margin: 0 0 15px;
    }
    
    #portfolio .portfolio-item .portfolio-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
    }
    
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(254, 209, 54, 0.9);
    }
    
    #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
      opacity: 1;
    }
    
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
      font-size: 20px;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 20px;
      margin-top: -12px;
      text-align: center;
      color: white;
    }
    
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
      margin-top: -12px;
    }
    
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
      margin: 0;
    }
    
    #portfolio .portfolio-item .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: #fff;
    }
    
    
    #portfolio .portfolio-item .portfolio-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    #portfolio * {
      z-index: 2;
    }
    
    @media (min-width: 767px) {
      #portfolio .portfolio-item {
        margin: 0 0 30px;
      }
    }
    
    .portfolio-modal {
      padding-right: 0px !important;
    }
    
    .portfolio-modal .modal-dialog {
      margin: 1rem;
      max-width: 100vw;
    }
    
    .portfolio-modal .modal-content {
      padding: 100px 0;
      text-align: center;
    }
    
    .portfolio-modal .modal-content {
      font-size: 3em;
      margin-bottom: 15px;
    }
    
    .portfolio-modal .modal-content p {
      margin-bottom: 30px;
    }
    
    .portfolio-modal .modal-content p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .portfolio-modal .modal-content img {
      margin-bottom: 30px;
    }
    
    .portfolio-modal .modal-content button {
      cursor: pointer;
    }
    
    .portfolio-modal .close-modal {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 75px;
      height: 75px;
      cursor: pointer;
      background-color: transparent;
    }
    
    .portfolio-modal .close-modal:hover {
      opacity: 0.3;
    }
    

    
     /*here*/
@media only screen and (max-width: 1000px){
  
       
     .card-text{
       font-size: 15px;
     }
     
     .card-text2{
       font-size: 30px;
       line-height:110%;
       letter-spacing:10%; 
       text-align: left;
     }
     
}
     
     /*검색바 수정*/
     .search-area {
        border: 1px solid #aaa;
        border-radius: 20px;
        height: 40px;
        width: 232px;
        display: inline-block !important;
        position: relative;
        top: 10px;
    }
    .top_botton{
      width: 300px;
      height: 100px;
      font-size: 50px;
    }
    
   
</style>



<div class = "container">

  <!--제목-->
  
 
  <div class="name_container" style="margin-top : 50px">
    
      <hr>
      
      <div class="content_title" >
        <br>
        <h2 id="top_title"><strong>국민대축제</h2><h3 id="top_title">대동제 게시판</strong></h3>
        <br>
        <h5>상설거리 정보를 게시하거나, 자유롭게 글을 작성하시면 됩니다.</h5>
        <h5>터치 시 자세히 볼 수 있습니다!</h5>
        <p>*타인에게 불쾌감을 줄 수 있는 게시글은 별도의 통보없이 삭제됩니다*</p>
        
        <div class="board-btn-section">
          <br>
          <a class="btn top_botton btn-outline-light custom-btn" id="btnc" href="/" role="button" style="margin-right:10px;">홈으로</a>
  
          <a class="btn top_botton btn-outline-light custom-btn" id="btnc" href="/board/new" role="button">글쓰기</a><br>
          <br>
        </div>


      
      
  </div>
  
  
  <div class = "card_container">
      <!--최신순으로 위부터 나열-->
          <% @list_show.each do |p| %>
              <div class = "card_column">
                  <div class= "card">
                    <a data-toggle="modal" href="#contentModal<%= p.id %>">
                        <div class="card-header bg-transparent" >
                                     
                             <!--제목-->
                             <strong  style="pointer-events:none !important; color: black !important;"><%= p.title %></strong>
                             <br>
                            <!--한국 시간으로 작성시간 표시-->
                            <span style=" pointer-events:none !important; color: black !important; font-size:0.5em;"><%= p.created_at.in_time_zone("Seoul").to_s.chomp(" +0900") %></span>
                        
                        </div>
                        
                        
                        <% def format_linebreaks(text) %>
                          <% safe_text = h(text) %>
                          <% paragraphs = split_paragraphs(safe_text).map(&:html_safe) %>
                        
                          <% html = ''.html_safe %>
                          <% paragraphs.each do |paragraph| %>
                          <%  html << content_tag(:p, paragraph)  %>
                          <% end %>
                          <%html%>
                        <%end%>
                        
                        <!--내용-->
                        <div class="card-body text-dark" style="pointer-events:none !important; color: black !important;">
                            <!--simple_format으로 new line 만들어준다.-->
                            <%= simple_format(p.content, class: "card-text") %>
                          
                        </div>
                    </a>    
                        <div class="card-footer bg-transparent" style="font-size: 0.8em; margin-bottom:10px;">작성자 : <%= p.editor%>
                          <!--modal destroy demo-->
                            <!-- Button trigger modal -->
                        
                              <button type="button" class="btn fai" data-toggle="modal" data-target="#destroyModal<%=p.id%>" style = "float:right; vertical-align:top; margin-left: 3%">
                                <i class="fa fa-trash"></i> 
                              </button>
                    
                              
                              <button type="button" class="btn fai" data-toggle="modal" data-target="#editModal<%=p.id%>" style = "float:right; vertical-align:top; margin-left: 3%">
                                <i class="fa fa-edit"></i>
                              </button>
                              
                  
                        </div>
                    
                          
          
          
          <!-- destroy Modal -->
  
          <div class="modal fade" id="destroyModal<%=p.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form action="/board/destroy/<%=p.id %>" method="GET">
                  <div class="modal-body">
                      비밀번호를 입력하시오.
                      
                          <input type="text" name="destroy_passwd" class="form-control" autocomplete="off">
                      
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                          Close
                      </button>
                      
                      <button type="submit" class="btn btn-primary">
                          삭제
                      </button>
                      
                     
                      
                  </div>
              </form>
              </div>
            </div>
          </div>
  
                      
          <!--여기까지!-->
          
          <!--editModal-->
          <div class="modal fade" id="editModal<%=p.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                
                <div class="modal-body">
                  비밀번호를 입력하시오.
                  <form action="/board/edit/<%=p.id %>" method="GET">
                      <input type="password" name="edit_passwd" class="form-control" autocomplete="off">
                      
                
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                      <button type="submit" class="btn btn-primary">
                          수정
                      </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          <!-- 콘텐트Modal -->
          <!--test-->
  
          <!--here-->
          
          <div class="portfolio-modal modal fade content_modal modal-font" id="contentModal<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content" style="padding: 2% 4%">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel"><%= p.title %></h1>
                  
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                  <%= simple_format(p.content, class:'card-text2') %>
                  
                 
                </div>
                
                
                  
                  
                <div class="modal-footer">
                  <p style = "position:absolute; left: 5%">작성자 : <%= p.editor %></p>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>  
        
        </div>
      </div>
          
      
      <% end %>
 
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>








<!--댓글창-->
                <!-- 라이브리 시티 설치 코드 -->
                
                  
                    <!--<div id="lv-container" data-id="city" data-uid="MTAyMC8zNjQ0Ny8xMjk4Mg==">-->
                    <!--	<script type="text/javascript">-->
                    <!--   (function(d, s) {-->
                    <!--       var j, e = d.getElementsByTagName(s)[0];-->
                    
                    <!--       if (typeof LivereTower === 'function') { return; }-->
                    
                    <!--       j = d.createElement(s);-->
                    <!--       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';-->
                    <!--       j.async = true;-->
                    
                    <!--       e.parentNode.insertBefore(j, e);-->
                    <!--   })(document, 'script');-->
                    <!--	</script>-->
                    <!--  <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>-->
                    <!--</div>-->
           
                  <!-- 시티 설치 코드 끝 -->