<html><head>
  <title>★ 국 민 대 축 제 ★</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" media="all" href="/assets/board.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/carousel.self-9418ea7a100baa630c14ebe6e10244bb8176237fa78079832bcf27d518a1448f.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/footer.self-347656729df17ef271f6b080d5325342756f900fce4a823d66f02404dc5f05f4.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/forms.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/scaffolds.self-e140603c74918fee9c56c7d06e9447ebe64b96b519116b3f054b3b6c4c0923cf.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/application.self-da29d8caba0d41f28c7f0fd6051adba4c3d2b67af8fef0806adb626c1e8c379f.css?body=1" data-turbolinks-track="true">
  <script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/turbolinks.self-1d1fddf91adc38ac2045c51f0a3e05ca97d07d24d15a4dcbf705009106489e69.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/board.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/forms.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/ripple.self-bcda7d42236c346bb740235abb3672f6ff766a11152572511deff6acdd366e05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js?body=1" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="iA3L4O6g0uXdOshcp43fUzVuV2ZatvUj6GPOpK6RgVsTPox9+pfL3QkqDZylSxhYb64szCabyuJw5J7sGEfCYA==">
  
  
  
</head>

<body>
  

  
  <!--구글 폰트 임베딩-->
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

  
  
  
  <!--스타일 설정-->
  <style>
  
  /*.main_image{*/
  /*  width: 100%;*/
  /*  height: 50rem;*/
  /*  z-index: -1;*/
  /*}*/
  
  body, html{
    background-color:#f4f4f4;
  }
  
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    
    color: #212529;
    background-image: url(image_path('back_image.jpeg'));
    /*background-color: #fff;*/
  }
/*네비바 테스트*/
#mainNav {
  background-color: #7a7a7a;
}

/*#mainNav .navbar-toggler {*/
/*  font-size: 12px;*/
/*  right: 0;*/
/*  padding: 13px;*/
/*  text-transform: uppercase;*/
/*  color: #3f0e7c;*/
/*  border: 0;*/
/*  background-color: #fed136;*/
/*  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*}*/

/*#mainNav .navbar-brand {*/
/*  color: #fed136;*/
/*  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;*/
/*}*/

/*#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {*/
/*  color: #fec503;*/
/*}*/

/*#mainNav .navbar-nav .nav-item .nav-link {*/
/*  font-size: 90%;*/
/*  font-weight: 400;*/
/*  padding: 0.75em 0;*/
/*  letter-spacing: 1px;*/
/*  color: white;*/
/*  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*}*/

/*#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {*/
/*  color: #fed136;*/
/*}*/

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  
  /*#mainNav.navbar-shrink {*/
  /*  padding-top: 0;*/
  /*  padding-bottom: 0;*/
  /*  background-color: #212529;*/
  /*}*/
  
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

  #mainButton{
    width: 300px;
    height: 200px;
    font-size: 200%;
  }
/*여기까지*/


  /*네비바 스타일 설정*/
  /*#mainNav {*/
  /*  border-bottom: 1px solid rgba(33, 37, 41, 0.1);*/
  /*  background-color: #241738;*/
  /*  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  /*  -webkit-transition: all 0.2s;*/
  /*  -moz-transition: all 0.2s;*/
  /*  transition: all 0.2s;*/
  /*  width: 100%;*/
  /*  height: auto;*/
  /*}*/
  
  /*#mainNav .navbar-brand {*/
  /*  font-weight: 700;*/
  /*  text-transform: uppercase;*/
  /*  color: #FFFFFF;*/
  /*  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  /*}*/
  
  /*#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {*/
  /*  color: #FFFFFF;*/
  /*}*/
  
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link,*/
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {*/
  /*  font-size: .9rem;*/
  /*  font-weight: 700;*/
  /*  text-transform: uppercase;*/
  /*  color: #c6c0f7;*/
  /*}*/
  
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,*/
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {*/
  /*  color: #FFFFFF;*/
  /*}*/
  
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link.active,*/
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {*/
  /*  color: #F05F40 !important;*/
  /*  background-color: transparent;*/
  /*}*/
  
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,*/
  /*#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {*/
  /*  background-color: transparent;*/
  /*}*/
  
  /*네비바 미디어쿼리 설정*/
  /*@media (min-width: 992px) {*/
  /*  #mainNav {*/
  /*    border-color: transparent;*/
  /*    background-color: transparent;*/
  /*  }*/
  /*  #mainNav .navbar-brand {*/
  /*    color: rgba(255, 255, 255, 0.7);*/
  /*  }*/
  /*  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {*/
  /*    color: #fff;*/
  /*  }*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link {*/
  /*    padding: 0.5rem 1rem;*/
  /*  }*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link,*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {*/
  /*    color: rgba(255, 255, 255, 0.7);*/
  /*  }*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {*/
  /*    color: #fff;*/
  /*  }*/
  /*  #mainNav.navbar-shrink {*/
  /*    border-bottom: 1px solid rgba(33, 37, 41, 0.1);*/
  /*    background-color: #fff;*/
  /*  }*/
  /*  #mainNav.navbar-shrink .navbar-brand {*/
  /*    color: #F05F40;*/
  /*  }*/
  /*  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {*/
  /*    color: #f05f40;*/
  /*  }*/
  /*  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,*/
  /*  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {*/
  /*    color: #212529;*/
  /*  }*/
  /*  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,*/
  /*  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {*/
  /*    color: #F05F40;*/
  /*  }*/
  /*}*/
  
    .guest{
      width:49.5%;
      margin: 0;
      /*height:46rem;*/
    }
    
    .homeImage{
      width: 100%;
    }
    
    .moreinfo{
      padding-top:50px;
    }
    
    #daum_map{
      text-align: center;
    }
    .small_map{
      text-align : center
    
    }
    
    .coming{
      font-size: 20px;
    }
    
    /* media query 반응형 이미지*/
    #artist_carousel {
      /*background-color: black;*/
      /*background-image: linear-gradient(to bottom, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);*/
      background-image: linear-gradient(to bottom, #874da2 0%, #c43a30 80%);
      /*background-image: linear-gradient(to bottom, #00cdac 0%, #8ddad5 100%);*/
      /*background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
      padding-bottom : 20px;
    }
    
    #homeImage{
      background: url(/assets/homeBack-952fc63b99594143a3502c5a0a10cd1853ce9b71b9a3dbd0b3773d03e2a81586.png)
    }
    
  
    /* 축제 라인업 text */
    #lineup {
      font-family: 'Anton', sans-serif;
      font-size: 50px;
      color: white;
      letter-spacing: 1px;
    }
    
    #navbar_title {
      font-family : 'BMDOHYEON';
    }
    /* 축제 일정 text */
    .font_Arita {
      font-family: 'Arita-dotum-Medium';
    }
    .font_BMDOHYEON {
      font-family: 'BMDOHYEON';
    }
    
    
    @font-face {
      font-family: 'Arita-dotum-Medium';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
      font-weight: normal; font-style: normal;
    }

    @font-face {
      font-family: 'Godo';
      font-style: normal;
      font-weight: 400;
      src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; 
      }
      
    @font-face { 
      font-family: 'BMDOHYEON'; 
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') 
      format('woff'); font-weight: normal; font-style: normal; 
    }

    .lastbus{
      font-family: 'Arita-dotum-Medium';
    }
    
    .lastbus p{
      font-family: 'Arita-dotum-Medium';
      font-size:20px;
    }
    
    
    /*모달 클래스*/
    #portfolio{
      background-image: linear-gradient(to top, 	#060213 0%, #c43a30 80%);
    }

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}


/*여기까지*/



.modal-image{
  width:100%;
}

.transferInfo{
    width: 100%;
  }
  
.newhome img{
  width: 100%;
  height: auto;
}
.newhome .btn {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 40px;
  width: 300px;
  height: 300px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
}

.infobox{
  background-image: url(/assets/transferInfoImg_pc.jpg);
  background-size: 100% 100%;
  height: 1350px;
}

.transfermobile{
  display: none;
}

@media only screen and (max-width: 1000px){
  .transferpc{
    display: none;
  }
  .transfermobile{
    display: block;
  }

}  
  </style>



  <!--네비바-->
  <!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav moresize">-->
  <!--  <div class="container">-->
  <!--    <a class="navbar-brand js-scroll-trigger" href="/" id="navbar_title">국민대축제</a>-->
  <!--    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--      <span class="navbar-toggler-icon"></span>-->
  <!--    </button>-->
  <!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
  <!--      <ul class="navbar-nav ml-auto">-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#carouselExampleSlidesOnly">상설거리</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#lineup">축제 라인업</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#howtocome">오시는 길</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="">Contact</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="setA">More Info</a>-->
  <!--        </li>-->
          
  <!--        게시판 연결-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="/board/index">게시판</a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</nav>-->

  <!--홈 이미지 캐러셀-->

  <!--<div id="homeImage">-->
  <!--  <div>-->
  <!--    <br><br>-->
      <!--<h1 style = "text-align: center;" id="lineup"><br>Kookmin Univ. Festival</h1><br><br>-->
  <!--    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
  <!--      <div class="carousel-inner">-->
  <!--        <div class="carousel-item" id="homeCarousel1">-->
  <!--          <img width="100%" src="/assets/homeText5-ad42ee860ae51153185eeb919c98b66d768aeb0c3125f80b9d68b25cb13d066d.png" alt="Hometext5 ad42ee860ae51153185eeb919c98b66d768aeb0c3125f80b9d68b25cb13d066d">-->
  <!--        </div>-->
  <!--        <div class="carousel-item active" id="homeCarousel2">-->
  <!--          <img width="100%" src="/assets/homeText2-d7a39a88d326718210ed4c5aabbe6bc1cebb60963f69a57c361f2523aa87527f.png" alt="Hometext2 d7a39a88d326718210ed4c5aabbe6bc1cebb60963f69a57c361f2523aa87527f">-->
  <!--        </div>-->
  <!--      </div>-->
        
  <!--      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
  <!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
  <!--        <span class="sr-only">Previous</span>-->
  <!--      </a>-->
        
  <!--      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
  <!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
  <!--        <span class="sr-only">Next</span>-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  
<div class="newhome">
  <img src="<%=asset_path 'homeback2.png'%>"></img>
  <!--<img src="/assets/homeback2.png">-->
</div>

    <br><br><br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <center>
            <button id="mainButton" type="button" class="btn btn-outline-light btn-lg" width="100%" height="100%" onclick="window.open('https://drive.google.com/open?id=15TJf6ovS6hq1ftURasPPRLv2AgSbqCyB&amp;usp=sharing', 'map')">  축제 안내 지도  </button>
          </center>
        </div>
        <div class="col-sm-4">
          <center>
            <button id="mainButton" type="button" class="btn btn-outline-light btn-lg" onclick="window.open('/board/index', 'board')">아무말 게시판</button>
          </center>
        </div>
          <div class="col-sm-2"></div>
      </div>
    <br><br><br>
  </div>

  <!--대동제 안내 구글맵 -> 버튼으로 대체 예정 -->
  
  <!--<div id="testMap">-->
  <!--   <iframe src="https://www.google.com/maps/d/embed?mid=15TJf6ovS6hq1ftURasPPRLv2AgSbqCyB&hl=ko" width="100%" height="500px"></iframe>-->
  <!--</div>-->


  <!--축제 라인업 캐러셀-->
  
  <div id="artist_carousel">
    <br><br>
    <h1 style="text-align: center;" id="lineup">FESTIVAL LINE-UP</h1><br><br>
      <div id="carouselLineupControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            
            <img class="guest" src="/assets/dd1_1_3.png" alt="Dd1 1 083ef7ea61469999d49ca4590c599b4fa8c6693d104c8432b7ae4608c4049ab4">
            <img class="guest" src="/assets/dd1_2-f7f503178b6888c8c489ae6cced7fafa37bd25cfb9d7f3ebef1c863930303278.png" alt="Dd1 2 f7f503178b6888c8c489ae6cced7fafa37bd25cfb9d7f3ebef1c863930303278">
          </div>
          <div class="carousel-item">
            <img class="guest" src="/assets/dd1_3-0b275c1cd81b689db0221d024da20086acd1cdfafb07fed159635a0a2de55e76.png" alt="Dd1 3 0b275c1cd81b689db0221d024da20086acd1cdfafb07fed159635a0a2de55e76">
            <img class="guest" src="/assets/dd1_4-742b0ce9b85dfaebf13fce3ec7e253c2a382033fe5c146de826bf014d57c4a41.png" alt="Dd1 4 742b0ce9b85dfaebf13fce3ec7e253c2a382033fe5c146de826bf014d57c4a41">
          </div>
          <div class="carousel-item">
            <img class="guest" src="/assets/dd1_5-0f9e95c7ee0d0cfc0588575b128ab946b3caf61e2913800db2a624ba145c3fcd.png" alt="Dd1 5 0f9e95c7ee0d0cfc0588575b128ab946b3caf61e2913800db2a624ba145c3fcd">
            <img class="guest" src="/assets/dd1_6-a15e208808b899ebce2555e4729c8fec95e29757f407d76895f787ee231ee290.png" alt="Dd1 6 a15e208808b899ebce2555e4729c8fec95e29757f407d76895f787ee231ee290">
          </div>
          <div class="carousel-item active carousel-item-left">
            <img class="guest" src="/assets/dd2_1-834b3848265259c8dba351743b7bc66296bcf3805cded15d492d26198527fe08.png" alt="Dd2 1 834b3848265259c8dba351743b7bc66296bcf3805cded15d492d26198527fe08">
            <img class="guest" src="/assets/dd2_2-837a7f2e63a80085d0d538030242b58e4c064f7ce0329861b588c9b5ef62c5aa.png" alt="Dd2 2 837a7f2e63a80085d0d538030242b58e4c064f7ce0329861b588c9b5ef62c5aa">
          </div>
          <div class="carousel-item carousel-item-next carousel-item-left">
            <img class="guest" src="/assets/dd2_3-ee6175b78f5bffd26f8e050219460532397cb5590d4dfc59fc1bc651230c2074.png" alt="Dd2 3 ee6175b78f5bffd26f8e050219460532397cb5590d4dfc59fc1bc651230c2074">
            <img class="guest" src="/assets/dd2_4-577c5db193e1924f24fd7e8b732920dcc4d546faf2b1abce48b615c51652ac14.png" alt="Dd2 4 577c5db193e1924f24fd7e8b732920dcc4d546faf2b1abce48b615c51652ac14">
          </div>
      </div>
      <br><br>
      <a class="carousel-control-prev" href="#carouselLineupControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="carousel-control-next" href="#carouselLineupControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  </div>

<!--일정 모달-->
<section class="bg-light font_Arita" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <br><br>
            <h1 class="section-heading text-uppercase font_BMDOHYEON" style="color:white">축제일정</h1>
            <h4 class="section-subheading " style="color:#e5e5e5">이미지를 누르면 자세한 정보가!</h4><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              
              <%=image_tag "day1.png", class:"img-fluid"%>
            </a>
            <!--<div class="portfolio-caption">-->
            <!--  <h4>5 / 15</h4>-->
            <!--  <p class="text-muted">화요일</p>-->
            <!--</div>-->
          </div>
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%=image_tag "day2.png", class:"img-fluid"%>
            </a>
            <!--<div class="portfolio-caption">-->
            <!--  <h4>5 / 16</h4>-->
            <!--  <p class="text-muted">수요일</p>-->
            <!--</div>-->
          </div>
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%=image_tag "day3.png", class:"img-fluid"%>
            </a>
            <!--<div class="portfolio-caption">-->
            <!--  <h4>5 / 17</h4>-->
            <!--  <p class="text-muted">목요일</p>-->
            <!--</div>-->
          </div>
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%=image_tag "day4.png" , class:"img-fluid"%>
            </a>
            <!--<div class="portfolio-caption">-->
            <!--  <h4>5 / 18</h4>-->
            <!--  <p class="text-muted">금요일</p>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>




    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body font_Arita">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase font_BMDOHYEON">화요일</h2>
                  <hr>
                  <!--이미지 만들어지면 여기에 넣자 day1-->
                  <%= image_tag "sky.jpg", class:"modal-image"%>
                  
                  <ul class="list-inline font_Arita">
                    <h4><li>넉살</li>
                    <li>던밀스</li>
                    <li>딥플로우</li>
                    <li>나다</li>
                    <li>키썸</li>
                    <li>이짜나언짜나</li></h4>
                  </ul>
                  <ul class="list-inline font_Arita">
                    <h4><li>청춘 부스</li>
                    <li>국민갓탤런트</li></h4>
                  </ul>
                  <h4>[스포츠행사]</h4>
                  <h5>농구 / 풋살 / 피구</h5>
                  
                  <hr><br>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body font_Arita">
                  <!-- Project Details Go Here-->
                  <h2 class="text-uppercase font_BMDOHYEON">수요일</h2>
                  <hr>
                  <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                  
                  <!--이미지 만들어지면 여기에 넣자 day2-->
                  <%= image_tag "day2_schedule.png", class:"modal-image"%>
                  
                  
                  <!--<ul class="list-inline font_Arita">-->
                  <!--  <h4><li>스무살</li>-->
                  <!--  <li>폴킴</li>-->
                  <!--  <li>잔나비</li>-->
                  <!--  <li>에릭남</li>-->
                  <!--  <li>DJ 부스</li>-->
                  <!--  </h4>-->
                  <!--</ul>-->
                  <!--<ul class="list-inline font_Arita">-->
                  <!--  <h4>-->
                  <!--    <li>청춘 부스</li>-->
                  <!--    <li>국민갓탤런트</li>-->
                  <!--  </h4>-->
                  <!--</ul>-->
                  <!--<h4>[스포츠행사]</h4>-->
                  <!--<h5>농구 / 풋살 / 피구</h5>-->
                  
                  <hr><br>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body font_Arita">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase font_BMDOHYEON">목요일</h2>
                  <hr>
                  <!--이미지 만들어지면 여기에 넣자 day3-->
                  <%= image_tag "day3_schedule.png", class:"modal-image"%>
                  
                  <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                  <!--<h4>국민 야시장</h4>-->
                  <!--<br>-->
                  <!--<h4>[스포츠행사]</h4>-->
                  <!--<h5>농구 / 풋살 / 피구</h5>-->
                  
                  <hr><br>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body font_Arita">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase font_BMDOHYEON">금요일</h2>
                  <hr>
                  
                  <!--이미지 만들어지면 여기에 넣자 day4-->
                  <%= image_tag "sky.jpg", class:"modal-image"%>
                  
                  <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                  
                  <h4>국민 야시장</h4>
                  <br>
                  <h5>다음에 또 만나요~</h5>
                  
                  <hr><br>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--여기까지-->

  <!--막차정보 안내-->
<div class="newhome">
  <img src="<%=asset_path 'transferInfoImg_mobile.jpg'%>" class="transfermobile"></img>
  <%= image_tag "transferInfoImg_pc.jpg", class:"transferpc"%>
</div>


<style>
  .foot p{
    margin-bottom: 0;
  }
  
  .fb_icon{
    height: 50px;
    margin-right:5px;
  }
  
  .circle_image{
    border-radius:50%;
  }
  
  .no_margin_top{
    margin-top:0px;
  }
  
  .cont{
    font-size: 18px;
  }
</style></body>
</html>

