<head>
  <!--구글 폰트 임베딩-->
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  
  <!--타이틀 -->
  <title>국 민 대 축 제</title>
  
  <!--스타일 설정-->
  <style>
  
  /*.main_image{*/
  /*  width: 100%;*/
  /*  height: 50rem;*/
  /*  z-index: -1;*/
  /*}*/
  
  body, html{
    width: 100%;
    height: 100%;
    background-color:#f4f4f4;
  }
  
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

  /*네비바 스타일 설정*/
  #mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #241738;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    height: auto;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #FFFFFF;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #c6c0f7;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #FFFFFF;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
  }
  
  /*네비바 미디어쿼리 설정*/
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #fff;
    }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #F05F40;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #f05f40;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #F05F40;
    }
  }
  
    #moresize{
      height :50px;
      
    }
    .guest{
      width:49.5%;
      margin: 0;
      /*height:46rem;*/
    }
    
    .homeImage{
      width: 100%;
    }
    
    .moreinfo{
      padding-top:50px;
    }
    
    .small_map{
      text-align : center
    
    }
    
    .coming{
      font-size: 20px;
    }
    
    /* media query 반응형 이미지*/
    #artist_carousel {
      /*background-color: black;*/
      /*background-image: linear-gradient(to bottom, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);*/
      background-image: linear-gradient(to bottom, #874da2 0%, #c43a30 80%);
      /*background-image: linear-gradient(to bottom, #00cdac 0%, #8ddad5 100%);*/
      /*background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
    }
    
    #homeImage{
      background: url(<%= asset_path 'homeBack.png' %>)
    }
    
    /* 축제 라인업 text */
    #lineup {
      font-family: 'Oleo Script', cursive;
      /*font-family: 'Lobster', cursive;*/
      font-size: 60px;
      color: white;
      font-weight: bold;
    }
    
    @font-face {
      font-family: 'Godo';
      font-style: normal;
      font-weight: 400;
      src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; 
      }
    
    .lastbus{
      font-family: 'Godo';
    }
    
    .lastbus p{
      font-family: 'Godo';
      font-size:20px;
      
    }
    
  </style>
</head>

<body>

  <!--네비바-->
  
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav moresize">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">국민대축제</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#carouselExampleSlidesOnly">상설거리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#lineup">축제 라인업</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#howtocome">오시는 길</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="setA">More Info</a>
          </li>
          
          <!--게시판 연결-->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/board/index">게시판</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!--홈 이미지 캐러셀-->

  <div id="homeImage">
    <div>
      <br><br>
      <!--<h1 style = "text-align: center;" id="lineup"><br>Kookmin Univ. Festival</h1><br><br>-->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" id="homeCarousel1">
            <%= image_tag "homeText.png", width:"100%"%>
          </div>
          <div class="carousel-item" id="homeCarousel2">
            <%= image_tag "homeText2.png", width:"100%"%>
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br><br><hr>
    </div>
  </div>
  
  <!--대동제 안내 구글맵 -> 버튼으로 대체 예정 -->
  
  <!--<div id="testMap">-->
  <!--   <iframe src="https://www.google.com/maps/d/embed?mid=15TJf6ovS6hq1ftURasPPRLv2AgSbqCyB&hl=ko" width="100%" height="500px"></iframe>-->
  <!--</div>-->

  <!--축제 라인업 캐러셀-->
  
  <div id="artist_carousel">
    <br><br>
    <h1 style = "text-align: center;" id="lineup">Festival Line-Up</h1><br><br>
      <div id="carouselLineupControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <%= image_tag "dd1_1.png", class: "guest"%>
            <%= image_tag "dd1_2.png", class: "guest"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "dd1_3.png", class: "guest"%>
            <%= image_tag "dd1_4.png", class: "guest"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "dd1_5.png", class: "guest"%>
            <%= image_tag "dd1_6.png", class: "guest"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "dd2_1.png", class: "guest"%>
            <%= image_tag "dd2_2.png", class: "guest"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "dd2_3.png", class: "guest"%>
            <%= image_tag "dd2_4.png", class: "guest"%>
          </div>
      </div>
      
      <a class="carousel-control-prev" href="#carouselLineupControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="carousel-control-next" href="#carouselLineupControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br><br><hr>
  </div>

  <!--자바스크립트-->
   <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">축 제 일 정</h2>
            <h3 class="section-subheading text-muted">날짜별 축제 일정입니다</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="board.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>5 / 14</h4>
              <p class="text-muted">오월십사일</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="board.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>5 / 15</h4>
              <p class="text-muted">오월십오일</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>5 / 16</h4>
              <p class="text-muted">오월십육일</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>5 / 17</h4>
              <p class="text-muted">오월십칠일</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  <!--여기까지-->


  <!--막차정보 안내-->
  <div class="infobox">
    <div class= "container moreinfo" id="howtocome">
      <div class="lastbus">
        <h1>막차 타고 집 가자!</h1>
        <br>
        <div class="row">
          <div class="small_map col-lg-4">
                  <!--지도 넣을 공간 grid로 먹인다.-->
                  <!--아래는 지도 못 넣을 경우 이미지로 넣는다.-->
                  <!--
              	* Daum 지도 - 약도서비스
              	* 한 페이지 내에 약도를 2개 이상 넣을 경우에는
              	* 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
              -->
            <div style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: dotum, sans-serif; width: 300px; height: 333px; color: rgb(51, 51, 51); position: relative;">
              <div style="height: 300px;">
                <a target="_blank" href="http://map.daum.net/?urlX=499331&amp;urlY=1141994&amp;itemId=11325169&amp;q=%EA%B5%AD%EB%AF%BC%EB%8C%80%ED%95%99%EA%B5%90&amp;srcid=11325169&amp;map_type=TYPE_MAP&amp;from=roughmap">
                  <img class="map small_map" src="//t1.daumcdn.net/roughmap/imgmap/dd26203054c4dcbc49a494d4df358999554e3f60c7575fac2a227838603ea227" width="298" height="298" style="border: 1px solid rgb(204, 204, 204);">
                </a>
              </div>
              <div>
                <span style="border-left:0.996094px solid rgb(219, 219, 219);border-right:0.996094px solid rgb(219, 219, 219);border-bottom:0.996094px solid rgb(219, 219, 219);box-sizing:border-box;box-sizing:border-box;background-color:rgb(255, 255, 255);position:absolute;left:0px;top:300px;width:298px;height:32px">
                  
                </span>
                <span style="position:absolute;left:11.9921875px;top:308.984375px">
                <img src="//t1.daumcdn.net/localimg/localimages/07/2013/map/test/ico_road.gif">
                </span>
                <a href="http://map.daum.net/?from=roughmap&amp;srcid=11325169&amp;confirmid=11325169&amp;q=%EA%B5%AD%EB%AF%BC%EB%8C%80%ED%95%99%EA%B5%90&amp;rv=on" target="_blank" style="text-decoration: none;color: #333;font:normal normal 400 12.5px gulim, sans-serif;line-height:14px;position:absolute;left:26.97265625px;top:310.9765625px">
                  로드뷰
                </a>
                <span style="display:none">
                  &nbsp;
                </span>
                <span style="position:absolute;left:75.390625px;top:308.984375px">
                  <img src="//t1.daumcdn.net/localimg/localimages/07/2013/map/test/ico_street.gif">
                </span>
                <a href="http://map.daum.net/?from=roughmap&amp;eName=%EA%B5%AD%EB%AF%BC%EB%8C%80%ED%95%99%EA%B5%90&amp;eX=499331&amp;eY=1141994" target="_blank" style="text-decoration: none;color: #333;font:normal normal 400 12.5px gulim, sans-serif;line-height:14px;position:absolute;left:89.375px;top:310.9765625px">
                  길찾기
                </a>
              </div>
            </div>  
             
          </div>
          
          <div class="small_map col-lg-8">
            <h4 >평일 막차 시간</h4>
            <hr>
            <div class="row">
              <div class= "col-6 lastbus" >  
                <p>110A <br>평일 22:40</p>
                <p>110B <br>평일 22:45</p>
                <p>153 <br>평일 22:20</p>
                <p>171 <br>평일 23:00</p>
                <p>1020 <br>평일 23:20</p>
              </div>
              
              <div class= "col-6 lastbus" >  
                <p>1166 <br>평일 23:30</p>
                <p>1213 <br>평일 23:40</p>
                <p>1711 <br>평일 23:00</p>
                <p>7211 <br>평일 23:00</p>
                <p>이 외 버스 시간<br><a href="http://topis.seoul.go.kr/map/openBusMap.do">서울시 막차 정보 조회</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="coming lastbus">자세한 정보 : <a href="https://www.kookmin.ac.kr/site/about/guide/map/trans.htm">국민대 오는 길</a></p>
      <br><br><center><button type="button" class="btn btn-outline-danger" onclick="window.location.href='/setA'">다음 페이지로!</button></center>
    </div>
  </div>
</body>
