<!DOCTYPE html>
<html>
<head>
  <title>★ 국 민 대 축 제 ★</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  
  
  <!--<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
  <!--  <div class="container">-->
  <!--    <a class="navbar-brand js-scroll-trigger" href="#page-top">국민대축제</a>-->
  <!--    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--      <span class="navbar-toggler-icon"></span>-->
  <!--    </button>-->
  <!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
  <!--      <ul class="navbar-nav ml-auto">-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#carouselExampleSlidesOnly">상설거리</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#lineup">축제 라인업</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#howtocome">오시는 길</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="">Contact</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="">More Info</a>-->
  <!--        </li>-->
          
          <!--게시판 연결-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="/board/index">게시판</a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</nav>-->
  
  
  <%= yield %>
  <!--footer-->
  <footer class="footer-distributed" >
      <p style="margin-bottom:0">
        
        <p>
          <%= image_tag "kmulion.png", class: "likelionlogo" %>
          <!--<img src="assets/kmulion.png" align="left" width="105" height="105" hspace="15">-->
          <br>
          02707 서울특별시 성북구 정릉로 77 국민대학교
          <br>
          Email : hyunji@likelion.org
          <br>
          COPYRIGHT© 2018 KOOKMIN-LIKELION.
          <br>
          ALL RIGHTS RESERVED.
          <br>
        </p>
  </footer>
</body>
</html>

<style>
  /*#mainNav{*/
  /*    background-color : red ;*/
  /*  }*/
  /*  #mainNav .navbar-brand {*/
  /*    font-weight: 700;*/
  /*    text-transform: uppercase;*/
  /*    color: #F05F40;*/
  /*    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  /*  }*/
    
  /*  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {*/
  /*    color: #f05f40;*/
  /*  }*/
    
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link,*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {*/
  /*    font-size: .9rem;*/
  /*    font-weight: 700;*/
  /*    text-transform: uppercase;*/
  /*    color: #212529;*/
  /*  }*/
    
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {*/
  /*    color: #F05F40;*/
  /*  }*/
    
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {*/
  /*    color: #F05F40 !important;*/
  /*    background-color: transparent;*/
  /*  }*/
    
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,*/
  /*  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {*/
  /*    background-color: transparent;*/
  /*  }*/
    
  /*  @media (min-width: 992px) {*/
  /*    #mainNav {*/
  /*      border-color: transparent;*/
  /*      background-color: transparent;*/
  /*    }*/
  /*    #mainNav .navbar-brand {*/
  /*      color: rgba(255, 255, 255, 0.7);*/
  /*    }*/
  /*    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {*/
  /*      color: #fff;*/
  /*    }*/
  /*    #mainNav .navbar-nav > li.nav-item > a.nav-link {*/
  /*      padding: 0.5rem 1rem;*/
  /*    }*/
  /*    #mainNav .navbar-nav > li.nav-item > a.nav-link,*/
  /*    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {*/
  /*      color: rgba(255, 255, 255, 0.7);*/
  /*    }*/
  /*    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,*/
  /*    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {*/
  /*      color: #fff;*/
  /*    }*/
  /*    #mainNav.navbar-shrink {*/
  /*      border-bottom: 1px solid rgba(33, 37, 41, 0.1);*/
  /*      background-color: #fff;*/
  /*    }*/
  /*    #mainNav.navbar-shrink .navbar-brand {*/
  /*      color: #F05F40;*/
  /*    }*/
  /*    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {*/
  /*      color: #f05f40;*/
  /*    }*/
  /*    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,*/
  /*    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {*/
  /*      color: #212529;*/
  /*    }*/
  /*    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,*/
  /*    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {*/
  /*      color: #F05F40;*/
  /*    }*/
</style>