<!DOCTYPE html>
<html>
<head>
  <title>★ 국 민 대 축 제 ★</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  
  
  <!--<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
  <!--  <div class="container">-->
  <!--    <a class="navbar-brand js-scroll-trigger" href="#page-top">국민대축제</a>-->
  <!--    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--      <span class="navbar-toggler-icon"></span>-->
  <!--    </button>-->
  <!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
  <!--      <ul class="navbar-nav ml-auto">-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#carouselExampleSlidesOnly">상설거리</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#lineup">축제 라인업</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="#howtocome">오시는 길</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="">Contact</a>-->
  <!--        </li>-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="">More Info</a>-->
  <!--        </li>-->
          
          <!--게시판 연결-->
  <!--        <li class="nav-item">-->
  <!--          <a class="nav-link js-scroll-trigger" href="/board/index">게시판</a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</nav>-->
  
  
  <%= yield %>
  <!--footer-->
  <footer class="foot footer-distributed" >
    <div class="row">
      <div class="col-lg-4">  
        <p>
          <%= image_tag "kmulion.png", class: "likelionlogo" %>
          <!--<img src="assets/kmulion.png" align="left" width="105" height="105" hspace="15">-->
          <br>
          02707 서울특별시 성북구 정릉로 77 국민대학교
          <br>
          Email : hyunji@likelion.org
          <br>
          COPYRIGHT© 2018 KOOKMIN-LIKELION.
          <br>
          ALL RIGHTS RESERVED.
          <br>
        </p>
      </div>
      <div class="col-lg-8">
        CONNECT WITH US
        <br>
        <!--facebook icon-->
        <a href="https://www.facebook.com/LikeLionKookmin/"><%= image_tag "fb_icon.png", class: "fb_icon" %></a>
        <!--likelion icon-->
        
        
      </div>
    </div>
  </footer>
</body>
</html>

<style>
  .foot p{
    margin-bottom: 0;
  }
  
  .fb_icon{
    height: 50px;
  }
</style>